<!DOCTYPE>
<html lang="en"> 
<head>
<meta charset="UTF-8">
<title>Lesbonne - Share Food With World</title>

<!--==== Bootstrap Core css ====-->
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"></link>
<!--==== css====-->
<!-- Accessibility Issues -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
      document.write('<base href="' + document.location + '" />');
</script>
</head>
<body>
	<script src="http://localhost:8090/as/build/bundle.js" charset="utf-8"></script>
    <header>
      <nav class="container">
        <h1 class="site-name">
          <span></span> Les Bonne
        </h1>
        <ul>
          <li>Explore</li>
          <li>How it works</li>
          <li>Become a chef</li>
          <li class="login">Login</li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <div class="container">
        <div class="float-left">
          <h2>Delicious Homemade Food, Delivered</h2>
          <p class="mb-35">Meals starts at $5 and pickup is available</p>
          <a class="btn">Explore Food</a>
        </div>
        <div class="float-right signup-block">
          <div class="signup-block-header">
            <h3>Get First Meal Free</h3>
            <p class="mb-0">by signing up now</p>
          </div>
          <div class="signup-block-content">
            <div class="signup-social">
              <p>Sign Up with Social Connect</p>
              <div>
                <button class="btn-social btn-facebook">Facebook</button>
                <button class="btn-social btn-googleplus">Google</button>
              </div>
              <span>We will not send you spam with this</span>
            </div>
            <div class="signup-email">
              <p>Or, Sign Up with Email</p>
              <input type="text" placeholder="Your Full Name"/>
              <input type="text" placeholder="Password"/>
              <input type="text" placeholder="Email"/>
            </div>
            <input type="submit" class="navy-btn" value="Sign Up">
          </div>
        </div>
      </div>
    </section>
    <section class="value-pop">
      <div class="container">
        <div class="column-3">
          <img src="/as/images/homemade-icon.png">
          <h3>Home made food with love</h3>
          <p>Extra portion of home made food coming from people share their passion</p>
        </div>
        <div class="column-3">
          <img src="/as/images/instant-icon.png">
          <h3>Instant Order</h3>
          <p>Browse and order food instantly</p>
        </div>
        <div class="column-3">
          <img src="/as/images/pickup-icon.png">
          <h3>Pick it up, or have it delivered</h3>
          <p>It's free to pick it up at the door, chat with the chef. Some offer task rabbit delivery services</p>
        </div>
      </div>
    </section>
    <section class="homepage-search">
      <div class="container">
        <h2>What do you feel like for dinner today?</h2>
        <div class="search-box">
          <span></span>
          <input type="text" placeholder="Type food type or name here"/>
          <label for="zipcode">Next</label>
          <input type="text" id="zipcode" class="middle-input" placeholder="City or Zipcode"/>
        </div>
        <div class="homepage-showcase">
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">
                My favorite Shrimp Pasta Fillet Bake with
              </span>
              <span class="price">10</span>
            </div>
            <img src="/as/images/showcase-1.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-1.png"/>
              <div class="profile-name">
                <span class="name">Bobby Coleman</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">
                All Organic Sarah Salad
              </span>
              <span class="price">8</span>
            </div>
            <img src="/as/images/showcase-2.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-2.png"/>
              <div class="profile-name">
                <span class="name">Kate Lisowska</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Mushroom Salmon Pasta</span>
              <span class="price">8</span>
            </div>
            <img src="/as/images/showcase-3.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-3.png"/>
              <div class="profile-name">
                <span class="name">Julia Burke</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Golden Mushroom Corn Soup</span>
              <span class="price">6</span>
            </div>
            <img src="/as/images/showcase-4.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-4.png"/>
              <div class="profile-name">
                <span class="name">Megan George</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">My favorite Shrimp Pasta</span>
              <span class="price">6</span>
            </div>
            <img src="/as/images/showcase-5.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-5.png"/>
              <div class="profile-name">
                <span class="name">Alexander Walters</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Curry Bean Sprout Noodle</span>
              <span class="price">12</span>
            </div>
            <img src="/as/images/showcase-6.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-6.png"/>
              <div class="profile-name">
                <span class="name">Jason Lee</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Japanese Tonkosu Ramen</span>
              <span class="price">6</span>
            </div>
            <img src="/as/images/showcase-7.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-7.png"/>
              <div class="profile-name">
                <span class="name">Megan George</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Party Chicken Burger</span>
              <span class="price">7.5</span>
            </div>
            <img src="/as/images/showcase-8.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-8.png"/>
              <div class="profile-name">
                <span class="name">Alexander Walters</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
          <div class="showcase-item">
            <div class="showcase-header">
              <span class="dish-name">Handmade Sashimi</span>
              <span class="price">15</span>
            </div>
            <img src="/as/images/showcase-9.png" />
            <div class="showcase-bottom">
              <img class="profile-img" src="/as/images/profile-9.png"/>
              <div class="profile-name">
                <span class="name">Ashwin Bhatttacharjee</span>
                <br>
                <span class="area">SOMA, San Francisco</span>
              </div>
              <div class="like">
                <span>763</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
    </section>
  </body>
</html>

</html>
