<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lesbonnes_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>937CC8791CAE3DD400CBD1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937CC88D1CAE3DD400CBD1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937CC8981CAE3DD400CBD1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
