<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
 		   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- ====================Spring Security Configuration @author Yucheng Wang=================== -->
	
	<http auto-config="false" use-expressions="true" entry-point-ref="LoginUrlAuthenticationEntryPoint">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" requires-channel="any"/>
		<intercept-url pattern="/service/login"   access="permitAll" method="POST" requires-channel="https"/>
		<intercept-url pattern="/service/logout"  access="permitAll" method="POST" requires-channel="https"/>
		<intercept-url pattern="/service/signup"  access="permitAll" method="POST" requires-channel="https"/>
		<intercept-url pattern="/service/**" access="hasRole('ROLE_USER')" requires-channel="any"/>
		<custom-filter position="FORM_LOGIN_FILTER" ref="defaultLoginFilter" />
		<custom-filter position="BASIC_AUTH_FILTER" ref="defaultAuthenticationFilter" />
		<csrf/>
	</http>
	
	<beans:bean id="LoginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/service/login" />
	</beans:bean>
	
	<beans:bean id="LesbonneUserDetailsService" class="com.lesbonne.web.security.LesbonneUserDetailsService">
		<beans:property name="userProvider" ref="userProvider" />
	</beans:bean>
	
	<beans:bean id="tokenAuthenticationService" class="com.lesbonne.web.security.TokenAuthenticationService">
		<beans:constructor-arg name="secret" value="lesbonne"/>
	</beans:bean>
	
	<authentication-manager alias="authenticationManager">
    	<authentication-provider user-service-ref='LesbonneUserDetailsService'/>
	</authentication-manager>
		
	<beans:bean id="defaultLoginFilter" class="com.lesbonne.web.security.LesbonneLoginFilter">
		<beans:constructor-arg index="0" value="/service/login"/>
		<beans:constructor-arg index="1" ref="tokenAuthenticationService"/>
		<beans:constructor-arg index="2" ref="userDetailsService"/>
		<beans:constructor-arg index="3" ref="authenticationManager"/> 
	</beans:bean>
	
	<beans:bean id="defaultAuthenticationFilter" class="com.lesbonne.web.security.LesbonneAuthenticationFilter">
		<beans:constructor-arg ref="tokenAuthenticationService"/>
	</beans:bean> 
	
</beans:beans>
