<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
 		   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- ====================Spring Security Configuration @author Yucheng Wang=================== -->
	<http auto-config="false" use-expressions="true" entry-point-ref="LesbonneRestAuthenticationEntryPoint" >
		<csrf disabled="true"/>
		<intercept-url pattern="/service/user/signup"  access="permitAll" requires-channel="http"/>
		<intercept-url pattern="/service/address/**" access="permitAll" requires-channel="http"/>
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" requires-channel="https"/>
		<intercept-url pattern="/service/**" access="hasRole('ROLE_USER')" requires-channel="any"/>
		<custom-filter position="FORM_LOGIN_FILTER" ref="defaultLoginFilter" />
		<custom-filter position="BASIC_AUTH_FILTER" ref="defaultAuthenticationFilter" />
		<session-management invalid-session-url="/login" session-fixation-protection="newSession" >
		   <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
		<logout logout-success-url="/login" delete-cookies="JSESSIONID" />
	</http>
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="10" />
	</beans:bean>
	<beans:bean id="LesbonneRestAuthenticationEntryPoint" class="com.lesbonne.web.security.LesbonneRestAuthenticationEntryPoint">
	</beans:bean>
	<beans:bean id="LesbonneUserDetailsService" class="com.lesbonne.web.security.LesbonneUserDetailsService"/>
	<beans:bean id="tokenAuthenticationService" class="com.lesbonne.web.security.TokenAuthenticationService">
		<beans:constructor-arg name="secret" value="lesbonne"/>
	</beans:bean>
	<beans:bean id="defaultLoginFilter" class="com.lesbonne.web.security.LesbonneLoginFilter">
		<beans:constructor-arg index="0" value="/service/user/login"/>
		<beans:constructor-arg index="1" ref="tokenAuthenticationService"/>
		<beans:constructor-arg index="2" ref="LesbonneUserDetailsService"/>
		<beans:constructor-arg index="3" ref="authenticationManager"/> 
	</beans:bean>
	<beans:bean id="defaultAuthenticationFilter" class="com.lesbonne.web.security.LesbonneAuthenticationFilter">
		<beans:constructor-arg ref="tokenAuthenticationService"/>
	</beans:bean> 
	<authentication-manager alias="authenticationManager">
    	<authentication-provider user-service-ref='LesbonneUserDetailsService'>
			<password-encoder ref="encoder" />
    	</authentication-provider>
	</authentication-manager>
</beans:beans>
