/*
 * margin styles
 */

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mv-5 {
  @include margin-vertical(5px);
}

/*
* padding styles
*/

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pv-10 {
  @include padding-vertical(10px);
}

.pv-15 {
  @include padding-vertical(15px);
}

.pv-20 {
  @include padding-vertical(20px);
}

/*
 * CSS hack
 */

.overflow-hidden {
  overflow: hidden;
}

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

.responsive-padding {
  padding-right: 6.25%;
  padding-left: 6.25%;
}

/*------Media Query---------*/
@media only screen and (min-width: $tablet-large) {
  .responsive-padding {
    padding-right: 0;
    padding-left: 0;
  }
}