#accountImageInfo {
	.userAccountImage {
		margin-top:2px;
	}
}

#accountOptions {
	.options {
		.Account {
			border-bottom: 0.1em solid #10123e;
		}
		.Orders {
			border-bottom: 0.1em solid #10123e;
		}
		.Referral {
			border-bottom: 0.1em solid #10123e;
		}
	}
}