/*
 * Base
 * Initial settings. Resets, element styles, variables, mixins
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Color
 * All the colors we are using on the site
 */
/********Gray**********/
/********Green********/
/********Dark Green********/
/********Gold********/
/********Red********/
/********Blue*********/
/********Navy*********/
/********Turquoise*********/
/********Purple*********/
/********Social*********/
/*
 * Breakpoints ----- Layout
 * The window width that will potentially change the way we layout things
 */
/*
 * Breakpoints ----- Component
 * The window width that will potentially change the way we layout component
 */
/*
 * Dimensions
 * The height or width of a type of element
 */
/********Form*********/
/*
 * Typography
 * Variables that's used to set typography styles
 */
/********Font Family*********/
/********Font Size*********/
/********Line Height*********/
/* $border1 is the height of the arrow, $border2 is width/2 of the arrow */
/* $border1 is the height of the arrow, $border2 is width/2 of the arrow */
/* $border1 is the height of the arrow, $border2 is width/2 of the arrow */
/*
 * Base styles
 */
html {
  height: 100%; }

body {
  background: white;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.25;
  color: #333333;
  text-align: center;
  min-height: 100%;
  position: relative;
  box-sizing: border-box; }

/*
 * h1
 * Default h1 styles. Header for summary pages.
 */
h1 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1d;
  text-transform: uppercase; }

/*
 * h2
 * Default h2 styles. Default 1st level heading.
 * Used for headers with borders
 */
h2 {
  font-size: 22px;
  color: #1d1d1d; }

/*
 * h3
 * Default h3 styles. Used as second level heading.
 */
h3 {
  font-size: 34px;
  font-weight: 400; }

/*
 * h4
 * Default h4 styles. Used as third level heading.
 */
h4 {
  font-size: 18px;
  font-weight: 400; }

/*
 * h5
 * Default h5 styles.
 */
h5 {
  font-size: 16px;
  font-weight: 400; }

/*
 * h6
 * Default h6 styles. Used for subnavigation headers.
 */
h6 {
  font-size: 15px; }

/*
 * p
 * Default p styles. Inherits default body font size.
 */
p {
  margin-bottom: 1em;
  white-space: normal; }

/*
 * a
 * Default link styles. No underlined links.
 */
a {
  color: #2db4d2;
  text-decoration: none;
  cursor: pointer;
  target-new: tab; }
  a:hover, a:active {
    color: #81d2e4; }

/*
 * ul
 * Default list styles. No bullet points.
 */
ul {
  list-style-type: none; }

/*
 * dialog
 * Default html5 dialog styles.
 */
dialog {
  display: none;
  position: relative;
  right: auto;
  left: auto;
  margin: 0;
  padding: 0;
  border: 0; }
  dialog[open] {
    display: block; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Form Style
 * label, input(text, password, radio button, checkbox), select, textarea, button
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * /
/*
 * Label
 */
label {
  cursor: pointer;
  color: #1d1d1d; }

/*
 * General
 */
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  width: 100%;
  border: 1px solid #d2d7dc;
  color: #1d1d1d; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  textarea:disabled {
    background: #d2d7dc;
    opacity: 0.3; }

input[type="date"] {
  width: 100%; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="search"] {
  height: 50px;
  max-width: 440px;
  padding: 0 10px; }

/* hides ie10+ default close/password icons */
input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal {
  width: 0;
  height: 0; }

textarea {
  margin-top: 10px;
  padding: 10px; }
  textarea:disabled, textarea:read-only {
    background: #d2d7dc;
    opacity: 0.3; }

input[type="text"].error,
input[type="password"].error,
textarea.error {
  color: #1d1d1d;
  border-color: #d1394d; }

input[type="text"].short-input,
input[type="password"].short-input {
  display: inline-block;
  width: 100px;
  padding: 0 5px; }

input[type="text"].middle-input,
input[type="password"].middle-input {
  padding: 0 10px;
  width: 210px; }

/*
 * Radio Button
 * source: http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
 */
input[type="radio"] {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

input[type="radio"] + label {
  display: table;
  color: inherit; }

input[type="radio"] + label:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: top;
  margin: 2px 15px 0 2px;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #d2d7dc; }

input[type="radio"]:checked + label:before {
  background: #2db4d2;
  box-shadow: 0 0 0 1px #a0aab4; }

input[type="radio"]:hover + label:before,
input[type="radio"] + label:before:hover {
  box-shadow: 0 0 0 1px #a0aab4; }

input[type="radio"]:checked:hover + label:before,
input[type="radio"]:checked + label:before:hover {
  background: #81d2e4;
  box-shadow: 0 0 0 1px #d2d7dc; }

input[type="radio"]:disabled + label:before {
  background: #e6ebf0;
  border-color: #e6ebf0;
  box-shadow: 0 0 0 1px #d2d7dc; }

input[type="radio"]:checked:disabled + label:before {
  background: #81d2e4;
  border-color: #d2d7dc; }

/*------Checkbox------*/
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label:before {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  float: left;
  background: white;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

input[type="checkbox"] + label span,
input[type="radio"] + label span {
  display: table-cell;
  vertical-align: middle; }
  input[type="checkbox"] + label span span.inline,
  input[type="radio"] + label span span.inline {
    display: inline; }

input[type="checkbox"] + label:before {
  content: "";
  color: #333333;
  font-family: 'icomoon';
  text-align: center;
  vertical-align: middle; }

input[type="checkbox"] + label:before {
  padding-left: 1px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  border: 1px solid #d2d7dc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

input[type="checkbox"].small + label:before {
  margin-top: 0; }

input[type="checkbox"]:checked + label:before {
  content: "\e90a";
  background: #d2d7dc; }

input[type="checkbox"].active + label:before {
  content: "\e800";
  background: #d2d7dc; }

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #d2d7dc; }

input[type="checkbox"]:disabled + label:before {
  color: #d2d7dc;
  background: #e6ebf0; }

input[type="checkbox"]:hover + label:before,
input[type="checkbox"] + label:hover:before {
  background: #e6ebf0; }

/*------Special Checkbox: Toggle------*/
input[type="checkbox"].toggle + label:before {
  padding-left: 1px;
  width: 35px;
  height: 18px;
  font-size: 10px;
  content: '';
  background: #a0aab4;
  border: 0;
  margin: 0;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

input[type="checkbox"].toggle + label span.toggle {
  display: inline-block;
  text-indent: -20000px;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 16px;
  width: 16px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

input[type="checkbox"].toggle:checked + label:before {
  background: #2db4d2; }

input[type="checkbox"].toggle:disabled + label:before {
  background: #e6ebf0; }

input[type="checkbox"].toggle:checked + label span.toggle {
  left: 18px; }

@media only screen and (min-width: 768px) {
  input[type='text'], input[type='password'] {
    display: block;
    max-width: 400px; } }

/*
 * Normalize Browser Default
 */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #333333; }

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0; }

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0px;
  left: 85px;
  width: 30px;
  height: 9px;
  padding: 8px 8px;
  opacity: 0; }

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #435b61; }

.btn,
button,
input[type='reset'],
input[type='submit'],
input[type='button'] {
  display: table-cell;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  line-height: 1;
  color: white;
  background: #31b75e;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .btn:hover, .btn.loading,
  button:hover,
  button.loading,
  input[type='reset']:hover,
  input[type='reset'].loading,
  input[type='submit']:hover,
  input[type='submit'].loading,
  input[type='button']:hover,
  input[type='button'].loading {
    background: #2ca354;
    color: white; }
  .btn:disabled, .btn.disabled,
  button:disabled,
  button.disabled,
  input[type='reset']:disabled,
  input[type='reset'].disabled,
  input[type='submit']:disabled,
  input[type='submit'].disabled,
  input[type='button']:disabled,
  input[type='button'].disabled {
    cursor: auto;
    background: #d2d7dc; }
  .btn.navy-btn,
  button.navy-btn,
  input[type='reset'].navy-btn,
  input[type='submit'].navy-btn,
  input[type='button'].navy-btn {
    background: #10123e; }
    .btn.navy-btn:hover, .btn.navy-btn.loading,
    button.navy-btn:hover,
    button.navy-btn.loading,
    input[type='reset'].navy-btn:hover,
    input[type='reset'].navy-btn.loading,
    input[type='submit'].navy-btn:hover,
    input[type='submit'].navy-btn.loading,
    input[type='button'].navy-btn:hover,
    input[type='button'].navy-btn.loading {
      background: #0b0c2a; }

.btn-social {
  width: 158px;
  height: 40px;
  font-size: 16px;
  text-transform: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px; }
  .btn-social.btn-facebook {
    background: #3c5b9b; }
  .btn-social.btn-googleplus {
    background: #d62120; }

.icon-edit {
  color: #a0aab4; }
  .icon-edit:hover, .icon-edit.active {
    color: #333333; }

button.link {
  background: transparent;
  color: #2db4d2;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: inline;
  width: auto; }
  button.link:hover {
    color: #81d2e4; }
  button.link.unit-height {
    height: auto;
    padding-bottom: 5px; }

@media only screen and (min-width: 768px) {
  .btn,
  button,
  input[type='reset'],
  input[type='submit'],
  input[type='button'] {
    width: 330px; }
    .btn.full-width,
    button.full-width,
    input[type='reset'].full-width,
    input[type='submit'].full-width,
    input[type='button'].full-width {
      width: 100%; } }

/*
 * Vendor
 * Vendored assets.
 */
/*
 * Layout
 * Reusable block of code that comprise page styles
 */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.column-3 {
  width: 33.333%;
  float: left;
  box-sizing: border-box; }

header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 16px; }

nav {
  color: white; }
  nav h1 {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    display: inline-block;
    float: left;
    color: white;
    text-transform: none;
    margin-bottom: 0; }
  nav ul {
    float: right; }
  nav li {
    display: inline-block;
    line-height: 18px;
    padding: 11px 18px; }
    nav li:last-child {
      margin-left: 18px; }

.login {
  border: 2px solid white;
  border-radius: 4px;
  text-transform: uppercase; }

/*
 * Helpers
 * Classes not specifically related to one element
 */
.float-left {
  float: left; }

.float-right {
  float: right; }

/*
 * margin styles
 */
.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-50 {
  margin-left: 50px; }

.mb-100 {
  margin-bottom: 100px; }

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

/*
* padding styles
*/
.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pt-20 {
  padding-top: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pv-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

/*
 * CSS hack
 */
.overflow-hidden {
  overflow: hidden; }

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both; }

.responsive-padding {
  padding-right: 6.25%;
  padding-left: 6.25%; }

/*------Media Query---------*/
@media only screen and (min-width: 768px) {
  .responsive-padding {
    padding-right: 0;
    padding-left: 0; } }

/*
 * Components
 * Small standalone blocks of reusable code
 */
/*
 * Page
 * Page specific styles
 */
.hero {
  background-image: url(/scss/images/homepage-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: center center;
  max-height: 887px;
  text-align: left;
  overflow: hidden; }
  .hero h2 {
    margin-top: 249px;
    font-size: 54px;
    width: 680px;
    color: white; }
  .hero p {
    font-size: 18px;
    color: white; }

.signup-block {
  width: 370px;
  overflow: hidden;
  margin: 166px 0;
  text-align: center;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.signup-block-header {
  background: #10123e;
  padding: 20px;
  color: white; }

.signup-block-content {
  padding: 28px 20px 5px;
  color: #333333; }
  .signup-block-content p {
    font-size: 16px;
    color: #333333; }
  .signup-block-content span {
    font-size: 12px; }
  .signup-block-content .btn-facebook {
    float: left; }
  .signup-block-content .btn-googleplus {
    float: right; }

.signup-social {
  margin-bottom: 40px; }

.value-pop {
  padding: 90px 0 120px;
  color: black; }
  .value-pop .column-3 {
    padding: 0 20px; }
  .value-pop img {
    height: 94px;
    margin-bottom: 50px; }
  .value-pop h3 {
    font-size: 27px;
    margin-bottom: 5px; }
  .value-pop p {
    font-size: 20px;
    font-weight: 300;
    opacity: 0.6; }

.homepage-search h2 {
  font-size: 36px;
  margin-bottom: 37px; }

.homepage-search .search-box {
  border-bottom: 2px solid #31b75e;
  overflow: hidden;
  display: inline-block;
  min-width: 800px; }
  .homepage-search .search-box span {
    background-image: url(/scss/images/search-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 28px 28px;
    width: 28px;
    height: 50px; }

.homepage-search input[type="text"] {
  border: 0; }

.homepage-search input,
.homepage-search label,
.homepage-search span {
  display: inline-block;
  float: left;
  font-size: 28px; }

.homepage-search label,
.homepage-search span {
  line-height: 50px;
  margin-left: 20px;
  margin-right: 20px; }

.homepage-showcase {
  margin-top: 40px; }

.showcase-item {
  background: #f1f1f1;
  width: 392px;
  height: 286px;
  margin: 0 6px 22px;
  float: left;
  color: #4c4c4c; }
  .showcase-item:nth-child(3n+1) {
    margin-left: 0; }
  .showcase-item:nth-child(3n) {
    margin-right: 0; }
  .showcase-item h4 {
    font-size: 18px; }
  .showcase-item img {
    height: 184px; }

.showcase-header {
  padding: 0 13px; }
  .showcase-header .dish-name {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }
  .showcase-header .price {
    text-align: right;
    float: right; }
    .showcase-header .price:before {
      content: '$'; }
  .showcase-header .dish-name,
  .showcase-header .price {
    font-size: 16px;
    display: block;
    line-height: 54px;
    margin: 0; }

.showcase-bottom {
  padding: 4px 13px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #e1dede;
  border-left: 1px solid #e1dede;
  border-right: 1px solid #e1dede;
  box-sizing: border-box; }
  .showcase-bottom .profile-img {
    height: 40px;
    width: 40px;
    display: table-cell;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .showcase-bottom .profile-name {
    width: 226px; }
    .showcase-bottom .profile-name span {
      display: block;
      line-height: 1; }
    .showcase-bottom .profile-name .name {
      font-size: 13px; }
    .showcase-bottom .profile-name .area {
      font-size: 9px; }
  .showcase-bottom .profile-img,
  .showcase-bottom .profile-name {
    display: table-cell;
    vertical-align: middle; }
  .showcase-bottom .like {
    width: 100px; }
    .showcase-bottom .like span {
      float: right;
      text-align: right;
      display: inline-block;
      padding-left: 22px;
      background-image: url(/scss/images/like-icon.png);
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: left center;
      font-size: 11px;
      line-height: 40px;
      margin: 0; }
