body {
	min-height: 2000px;
}

.header .navbar-default {
	background-color: #10123e;
}

.header .navbar-right {
	margin-right: 100px;
}

.header .navbar-default a {
	color: #ffffff;
}

.header .navbar-default a:hover {
	color: #747474;
}

.header .navbar-default .navbar-nav a {
	color: #ffffff;
}

.header .navbar-default .navbar-nav a:hover {
	color: #747474;
}

.homepage .header.scroll-header .navbar-default{
	background: hsla(0,0%,100%,.95);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.header.scroll-header .navbar-default a {
	color: #333;
}

.header.scroll-header .navbar-default a:hover {
	color: #7f7f7f;
}

.header.scroll-header .navbar-default .navbar-nav a {
	color: #333;
}

.header.scroll-header .navbar-default .navbar-nav a:hover {
	color: #7f7f7f;
}

.header .brand-logo {
	padding-right: 20px;
	padding-top: 10px;
}

.header .profile {
	margin-left: 40px;
}

.header .profile-name {
	margin-left: 5px;
	vertical-align: middle;
}

.lesbonnes-app {
	padding-top: 50px;
}

.lesbonnes-app.homepage {
	padding-top: 0px;
}

.homepage .header .navbar {
	margin-bottom: 0px;
	border: none;
	background-color: rgba(0, 0, 0, 0.01);
}

.footer {
	position: absolute;
    width: 100%;
    height: 33px;
    background-color: white;
    line-height: 2.4;
}

.footer a {
	font-size: 14px;
	color: #747474;
}

.footer .language {
	margin-left: 50px;
}

.img-center {
	margin: 0 auto;
}

.btn-success.outline {
	color: #4cae4c;
	background: transparent;
}

.form-control.no-border {
	border: 0;
	box-shadow: none;
}

.full-width {
	width: 100%;
}

.form-inline .form-control.full-width {
	width: 100%;
}

/*
 * Helpers
 * Classes not specifically related to one element
 */
.float-left {
  float: left; }

.float-right {
  float: right; }

/*
 * margin styles
 */
.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }
  
.ml-25 {
  margin-left: 25px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-50 {
  margin-left: 50px; }

.mb-100 {
  margin-bottom: 100px; }

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

/*
* padding styles
*/
.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }
  
.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pt-20 {
  padding-top: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pv-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px; }
 
/*
 * CSS hack
 */
.overflow-hidden {
  overflow: hidden; }

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both; }

  
 .btn-social {
  width: 158px;
  height: 40px;
  font-size: 16px;
  text-transform: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px; }
  .btn-social.btn-facebook {
    background: #3c5b9b; }
  .btn-social.btn-googleplus {
    background: #d62120; }
    
 .btn-marketing {
  display: table-cell;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  line-height: 1;
  color: white;
  background: #FFFF;
  border: solid 2px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }