/*
* @author yucheng
* @since 1
*/

.signup-block {
  width: 370px;
  overflow: hidden;
  margin: 166px 0;
  text-align: center;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  

.signup-block-header {
  background: #10123e;
  padding: 20px;
  color: white; }

.signup-block-content {
  padding: 28px 20px 5px;
  color: #333333; }
  .signup-block-content p {
    font-size: 16px;
    color: #333333; }
  .signup-block-content span {
    font-size: 12px; }
  .signup-block-content .btn-facebook {
    float: left; }
  .signup-block-content .btn-googleplus {
    float: right; }