<!DOCTYPE>
<html lang="en"> 
<head>
<meta charset="UTF-8">
<title>Lesbonnes - Share Food With World</title>
<link rel="stylesheet" type="text/css" href="https://localhost:8081/css/style.css"></link>
<script>
      document.write('<base href="' + document.location + '" />');
      /*var cdn = (process.env.NODE_ENV === 'production' ? '/as/build/' : 'https://localhost:8081/build/');
      swig.setDefaults({
          locals: { // Global variables
              cdn: cdn
          }
      });*/
</script>
</head>
<body>
  <!-- Trigger the modal with a button -->
    <div class="app-container" id="app">
		
	</div>
    <script src="https://localhost:8081/build/bundle.js" charset="utf-8"></script>
  </body>
</html>
