header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 16px;
  //background: $navy-00;
}

nav {
  color: white;

  h1 {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    display: inline-block;
    float: left;
    color: white;
    text-transform: none;
    margin-bottom: 0;
  }

  ul {
    float: right;
  }

  li {
    display: inline-block;
    line-height: 18px;
    padding: 11px 18px;

    &:last-child {
      margin-left: 18px;
    }
  }
}


.login {
  border: 2px solid white;
  border-radius: 4px;
  text-transform: uppercase;
}